<center><h1> My name is <%= @name %> </h1></center>

<style>
 img { width: 80%; }
 </style>

<div>
 <center><img style='border: 5px solid cyan'
 src='https://upload.wikimedia.org/wikipedia/commons/2/22/Pacific_Walrus_-_Bull_%288247646168%29.jpg'></center>
 <div>
